header {
    background-color: #722F37;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    height: auto;
    position: fixed;
    z-index: 1;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav a {
    color: #ddd;
    text-decoration: none;
}

.logo {
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    color: #ddd;
}

main {
    padding-top: 100px;
}

img {
    width: 100%;
}

.winery {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
}


footer {
    margin-bottom: 0px;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

footer ul li {
    margin: 0 10px;
}


footer a {
    color: #ddd;
    text-decoration: none;
    font-size: 13px;
}

.contacts {
    background-color: #722F37;
    padding: 20px;
}